{{ if eq .chezmoi.os "linux" }}
{{   if (.chezmoi.kernel.osrelease | lower | contains "microsoft") }}

#!/bin/sh

cargo install eza
cargo install fd-find
cargo install bat
cargo install ripgrep
cargo install zoxide

{{   end }}
{{ end }}
