#!/bin/sh

{{ if eq .chezmoi.os "linux" }}
{{   if (.chezmoi.kernel.osrelease | lower | contains "microsoft") }}
# zshのインストール
sudo apt install -y zsh

# カレントシェルの変更
chsh -s /bin/zsh

# /etc/zsh/zshenvの追記
sudo echo 'ZDOTDIR=$HOME/.config/zsh' | sudo tee -a /etc/zsh/zshenv
{{   end }}
{{ end }}
