#!/bin/sh
{{ if eq .chezmoi.os "linux" }}
{{   if (.chezmoi.kernel.osrelease | lower | contains "microsoft") }}

# インストールスクリプトはbashで動くが、必要な環境変数は .zshenv にあるため読み込みが必要
. ${HOME}/.config/zsh/.zshenv

# Rustのインストール
curl --proto '=https' --tlsv1.2 -sSf https://sh.rustup.rs | sh

{{   end }}
{{ end }}
